body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
}

.app-container {
  padding: 40px;
}

.header-section {
  margin-bottom: 30px;
}

.header-section h1 {
  color: #0176d3;
  margin-bottom: 10px;
}

.header-section p {
  color: #555;
  font-size: 16px;
}

.button-group {
  margin-bottom: 30px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

button {
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  transition: 0.2s;
}

.primary-btn {
  background-color: #0176d3;
}

.primary-btn:hover {
  background-color: #025aa5;
}

.enable-btn {
  background-color: #2e844a;
}

.enable-btn:hover {
  background-color: #256b3c;
}

.disable-btn {
  background-color: #ba0517;
}

.disable-btn:hover {
  background-color: #8e0412;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
  border-collapse: collapse;
  min-width: 700px;
}

th {
  background-color: #0176d3;
  color: white;
}

th,
td {
  padding: 14px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.active-status {
  color: #2e844a;
  font-weight: bold;
}

.inactive-status {
  color: #ba0517;
  font-weight: bold;
}
.loading-text {
  color: #0176d3;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  opacity: 0.9;
}